@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-normal {
    font-family: 'Open Sans';
}
header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}
.text-primary {
    color: #FD6E0A;
}
.secondary-bg {
    background-color: #FFF8F3;
}
.title-size {
    font-size: 35px;
    font-weight: bold;
}
.btn-primary {
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}
main section {
    margin: 130px;
    margin-bottom: 130px;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
header .banner-text {
    max-width: 585px;
}
header .banner-text .greetings {
    font-size: 45px;
    font-weight: 600;
}
header .banner-text .title {
    font-size: 85px;
    font-weight: bold;
}
header .banner-text .description {
    font-size: 18px;

}
header .banner-img .image {
    width: 584px;
}
.about {
    max-height: 288px;
    max-width: 827px;
    margin: 0 auto;
    padding: 131px 157px;
    text-align: center;
}
.about .about-description {
    font-size: 18px;
}
.about .about-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about .item-title {
    font-size: 20px;
}
.about .item-description {
    font-size: 20px;
    font-weight: bold;
}
.exp-and-skills .section-title {
    text-align: center;
}
.exp-and-skills .section-description {
    font-size: 18px;
    width: 909px;
    text-align: center;
    margin: 0 auto;
}
.exp-and-skills .skills-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.exp-and-skills .skills-container .skills {
    width: 267px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skills-container .skill-title {
    font-size: 20px;
    font-weight: bold;
}
.skills-container .skill-description {
    width: 201px;
    height: 196px;
    font-size: 16px;
}